.editor {
  flex-grow: 1;
  height: 100%;
  padding: 10px;
  font-size: 17px;
  line-height: 1.5;
  border: none;
  outline: none;
  resize: none;
  background-color: transparent;
  color: inherit;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  white-space: pre-wrap; /* Important for contentEditable to respect newlines */
}

.book-page {
  display: block; /* Ensures it takes its own line */
  user-select: none; /* Prevents text selection */
  cursor: default; /* Show default cursor */
}
